on post-fs-data
    # CPU Little Cluster (cortex-a55)
    chown system system /sys/devices/system/cpu/cpufreq/policy0/scaling_governor
    chown system system /sys/devices/system/cpu/cpufreq/policy0/scaling_min_freq
    chown system system /sys/devices/system/cpu/cpufreq/policy0/scaling_max_freq
    chmod 0664 /sys/devices/system/cpu/cpufreq/policy0/scaling_governor
    chmod 0664 /sys/devices/system/cpu/cpufreq/policy0/scaling_min_freq
    chmod 0664 /sys/devices/system/cpu/cpufreq/policy0/scaling_max_freq

    # CPU Big Cluster (cortex-a78)
    chown system system /sys/devices/system/cpu/cpufreq/policy4/scaling_governor
    chown system system /sys/devices/system/cpu/cpufreq/policy4/scaling_min_freq
    chown system system /sys/devices/system/cpu/cpufreq/policy4/scaling_max_freq
    chmod 0664 /sys/devices/system/cpu/cpufreq/policy4/scaling_governor
    chmod 0664 /sys/devices/system/cpu/cpufreq/policy4/scaling_min_freq
    chmod 0664 /sys/devices/system/cpu/cpufreq/policy4/scaling_max_freq

    # CPU Prime Cluster (cortex-x1)
    chown system system /sys/devices/system/cpu/cpufreq/policy7/scaling_governor
    chown system system /sys/devices/system/cpu/cpufreq/policy7/scaling_min_freq
    chown system system /sys/devices/system/cpu/cpufreq/policy7/scaling_max_freq
    chmod 0664 /sys/devices/system/cpu/cpufreq/policy7/scaling_governor
    chmod 0664 /sys/devices/system/cpu/cpufreq/policy7/scaling_min_freq
    chmod 0664 /sys/devices/system/cpu/cpufreq/policy7/scaling_max_freq

    # GPU - (adreno 660)
    chown system system /sys/class/kgsl/kgsl-3d0/devfreq/min_freq
    chown system system /sys/class/kgsl/kgsl-3d0/devfreq/max_freq
    chown system system /sys/class/kgsl/kgsl-3d0/devfreq/governor
    chmod 0664 /sys/class/kgsl/kgsl-3d0/devfreq/min_freq
    chmod 0664 /sys/class/kgsl/kgsl-3d0/devfreq/max_freq
    chmod 0664 /sys/class/kgsl/kgsl-3d0/devfreq/governor
